/*! _variables.scss */

$color1: #212733 !default;
$color2: #39404d !default;
$color3: #1d6ab7 !default;
$color4: #f8f8f8 !default;
$color5: #676767 !default;
$color6: #5591d4 !default;
$color7: #1d6ab7 !default;
$colorSuccess: #8cc640 !default;
$colorWarning: #f98200 !default;
$colorDanger: #cc2929 !default;
